@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --oswald: 'Oswald', sans-serif;
    --pt: 'PT Serif', serif;
    --roboto: 'Roboto Condensed', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main {
    position: relative;
    width: 100%;
    background: #EDFCF1;
    overflow-x: hidden;
}
.main .landing-page {
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgb(237,252,241);
    background: linear-gradient(90deg, rgba(237,252,241,0.85) 43%, rgba(237,252,241,0.85) 100%),
                url('/static/assets/images/bg-poly.svg');
    background-position: center;
    overflow: hidden;
}
.main .landing-page .landing-page-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.main .landing-page .landing-page-inner .header {
    position: relative;
    width: 100%;
    height: 15vh;
    padding: 0 1rem;
    z-index: 100;
}
/*.main .landing-page .landing-page-inner .header  {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 0.05rem solid rgba(0, 225, 255, 1);
}*/
.main .landing-page .landing-page-inner .header .menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.05rem solid rgba(0, 225, 255, 1);
}
.main .landing-page .landing-page-inner .header .menu .logo {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .landing-page .landing-page-inner .header .menu .logo img {
    position: relative;
    width: 10rem;
}

.main .landing-page .landing-page-inner .header  .menu .menu-items {
    position: relative;
    width: 50%;
    height: 100%;
}
.main .landing-page .landing-page-inner .header .menu .menu-items .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}
.main .landing-page .landing-page-inner .header  .menu .menu-items .item {
    width: 100%;
    text-align: center;
}
.main .landing-page .landing-page-inner .header  .menu .menu-items .item > a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: var(--oswald);
}
.main .landing-page .landing-page-inner .header  .menu .menu-items button {
    background: transparent;
    color:rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: var(--oswald);
    border: none;
}
.main .landing-page .landing-page-inner .header  .menu .menu-items .item > .dropdown {
    position: relative;
    width: 100%;
    z-index: 1001;
}
.main .landing-page .landing-page-inner .header  .menu .menu-items .item > .dropdown .dropdown-content {
    position: absolute;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 100%;
    padding: 1rem 0;
    background: #EDFCF1;
    z-index: 20;
    transform: scale(0);
    transform-origin: top;
}
.main .landing-page .landing-page-inner .header  .menu .menu-items .item > .dropdown:hover .dropdown-content {
    transform: scale(1);
}
.main .landing-page .landing-page-inner .header   .menu .menu-items .item > .dropdown .dropdown-content  a {
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--oswald);
    width: fit-content;
    margin: 0.5rem auto;
}
.main .landing-page .landing-page-inner .header  .menu .menu-items .apply-btn a {
    color: black;
    font-size: 1.2rem;
    background: #06aef4;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    width: auto;
}
.main .landing-page .landing-page-inner .header .menu .hamburger {
    display: none;
}
.main .landing-page .landing-page-inner .landing-body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 0 2rem;
    z-index: 10;
}
.main .landing-page .landing-page-inner .landing-body::after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 4rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: 0.5rem solid rgba(0, 225, 255, 0.4);;
    border-right: none;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}
.main .landing-page .landing-page-inner .landing-body::before {
    content: '';
    position: absolute;
    width: 30rem;
    height: 30rem;
    border: 0.2rem solid rgba(0, 225, 255, 0.4);
    border-radius: 50%;
    left:-10rem;
    bottom: -10rem;
}
.main .landing-page .landing-page-inner .landing-body .description {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--oswald);
}
.main .landing-page .landing-page-inner .landing-body .landing-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main .landing-page .landing-page-inner .landing-body .landing-image img {
    filter: drop-shadow(2px 4px 8px #85998b);
}
.main .landing-page .landing-page-inner .landing-body .description h2 {
    position: relative;
    font-size: 3.5rem;
    line-height: 4rem;
}
.main .landing-page .landing-page-inner .landing-body .description h2:nth-child(1)::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.2rem solid rgba(0, 225, 255, 0.4);
    left: 0;
    top: -1rem;
    transform: rotate(45deg);
    z-index: -1;
}
.main .landing-page .landing-page-inner .landing-body .description h2:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid rgba(0, 225, 255, 0.4);
    right: 0;
    bottom: -1rem;
    transform: rotate(45deg);
    z-index: -1;
}
.main .landing-page .landing-page-inner .landing-body .description h1 {
    position: relative;
    font-size: 2rem;
    margin-top: 2rem;
}
.main .landing-page .landing-page-inner .landing-body .description p {
    position: relative;
    font-size: 1.2rem;
    font-weight: lighter;
}
.main .landing-page .landing-page-inner .landing-body .description a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    background: #06aef4;
    padding: 0.5rem 0.7rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    font-family: var(--oswald);
}
.main .why-us {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    z-index: 10;
    overflow-x: hidden;
     /*#D5E8DB */
}
.main .why-us-inner {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 3rem;
    place-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-family: var(--pt);
}
.main .why-us-inner .why-description {
    position: relative;
    width: 100%;
}
.main .why-us-inner .why-description h3 {
    letter-spacing: 0.15rem;
    font-family: var(--oswald);
    color: #000;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}
.main .why-us-inner .why-description p {
    letter-spacing: 0.11rem;
    font-size: 1.1rem;
}
.main .why-us-inner .why-us-illustrate {
    position: relative;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.main .why-us-inner .why-us-illustrate::after {
    content: '';
    position: absolute;
    right: -3rem;
    top: -2rem;
    width: 6rem;
    height: 6rem;
    border: 1rem solid #06ecf4;
    background: #06ecf1;
    border-radius: 50%;
    z-index: 1
}
.main .why-us-inner .why-us-illustrate .ilustrate {
    position: relative;
    width: 100%;
    text-align: center;
    background: #E2F2E7;
    padding: 0.5rem;
    filter: drop-shadow(1px 2px 4px #a9e0da);
    z-index: 10;
}
.main .why-us-inner .why-us-illustrate .ilustrate img {
    width: 5rem;
    height: 5rem;
}
.main .why-us-inner .why-us-illustrate .ilustrate h4 {
    font-weight: 600;
    color:rgb(59, 59, 59);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: var(--oswald);
}
.main .why-us-inner .why-us-illustrate .ilustrate p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
}
.main .teaching {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2rem;
}
.main .teaching .teaching-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
.main .teaching .teaching-inner .teaching-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .teaching .teaching-inner .teaching-img img {
    filter: drop-shadow(4px 6px 12px #85998b);
}
.main .teaching .teaching-inner .how-teaching {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .teaching .teaching-inner .how-teaching h3 {
    letter-spacing: 0.15rem;
    font-family: var(--oswald);
    color: #000;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.main .teaching .teaching-inner .how-teaching .mo {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 0.5rem;
}
.main .teaching .teaching-inner .how-teaching .mo::after {
    content: '';
    position: absolute;
    left: 0rem;
    bottom: -2rem;
    width: 6rem;
    height: 6rem;
    border: 1rem solid #bd06f4;
    background: #bd06f4;
    border-radius: 50%;
    z-index: 1
}
.main .teaching .teaching-inner .how-teaching .mo .how {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: #E2F2E7;
    padding: 0.5rem;
    filter: drop-shadow(1px 2px 4px #a9e0da);
    z-index: 10;
}
.main .teaching .teaching-inner .how-teaching .mo .how h4 {
    font-weight: 600;
    color:rgb(59, 59, 59);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: var(--oswald);
}
.main .teaching .teaching-inner .how-teaching .mo .how p {
    font-family: var(--pt);
}
.main .enroll {
    position: relative;
    margin-top: 2rem;
    width: 100%;
    height: 10rem;
    background: rgb(128, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .enroll .enroll-inner {
    position: relative;
    width: 70%;
    height: 90%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .enroll .enroll-inner p {
    font-size: 2.5rem;
    font-family: var(--oswald);
    letter-spacing: 0.12rem;
    color: white;
}
.main .enroll .enroll-inner a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    background: #06aef4;
    padding: 0.5rem 0.7rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    font-family: var(--oswald);
}
.main .footer {
    position: relative;
    width: 100%;
    height: 50vh;
    background: rgb(214, 214, 214);
    background: linear-gradient(90deg, rgba(214, 214, 214, 0.85) 43%, rgba(214, 214, 214,0.85) 100%),
        url('/static/assets/images/footer.svg');
    background-position: center;
}
.main .footer .footer-inner {
    position: relative;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 1rem;
}
.main .footer .footer-inner .brief {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: 0.2rem solid #EDFCF1;
}
.main .footer .footer-inner .brief img {
    position: relative;
    width: 35%;
}
.main .footer .footer-inner .brief p {
    padding: 0.5rem;
    font-size: 1.05rem;
    font-family: var(--pt);
}
.main .footer .footer-inner .contacts {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main .footer .footer-inner .contacts p {
    padding: 0.5rem;
    font-size: 1.05rem;
    font-family: var(--pt);
}
.main .footer .footer-inner .contacts .socials {
    display: flex;
    margin-top: 1rem;
}
.main .footer .footer-inner .contacts .socials a > img {
    width: 3rem;
    height: 3rem;
}
.main .footer .bottom {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-family: var(--roboto);
    background: black;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    .main .landing-page .landing-page-inner .header .menu .menu-items {
        position: absolute;
        top: calc(100% + 0.2rem);
        left: 105%;
        width: 100%;
        height: 50vh;
        padding: 2rem 0;
        background: #EDFCF1;
        z-index: 101;
        transition: all 0.5s ease-in;
    }
    .main .landing-page .landing-page-inner .header .menu .menu-items .menu-list {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        height: 30vh;
        width: 100%;
    }
    .main .landing-page .landing-page-inner .header .menu .menu-items .menu-list li {
        display: inline-block;
        width: 95%;
        border-bottom: 1px solid rgb(209, 209, 209);
        padding: 0.7rem 0;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    .main .landing-page .landing-page-inner .header .menu .menu-items.show-menu {
        right: 0;
        left: 0;
    }
    .main .landing-page .landing-page-inner .header .menu .hamburger {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2rem;
      cursor: pointer;
    }
    .main .landing-page .landing-page-inner .header  .menu .menu-items .item {
        border-bottom: 1px solid rgb(156, 156, 156);
    }
    .main .landing-page .landing-page-inner .header  .menu .menu-items .item:last-child {
        display: none;
    }
    .main .landing-page .landing-page-inner .landing-body {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 85%;
        column-gap: 2rem;
        padding: 0 2rem;
        z-index: 10;
    }
    .main .landing-page .landing-page-inner .landing-body .description {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: var(--oswald);
        height: 90%;
    }
    .main .landing-page .landing-page-inner .landing-body .landing-image {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .main .landing-page .landing-page-inner .landing-body::after {
        display: none;
    }

    .main .why-us {
        height: auto;
        padding: 1rem;
         /*#D5E8DB */
    }
    .main .why-us .why-us-inner {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0.5rem;
        row-gap: 3rem;
    }
    .main .teaching {
        height: auto;
    }
    .main .teaching .teaching-inner {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .main .teaching .teaching-inner .how-teaching .mo .how {
        width: 100%;
    }
    .main .enroll .enroll-inner {
        width: 80%;
    }
    .main .enroll .enroll-inner p {
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    .main .landing-page .landing-page-inner .landing-body .description h2 {
        position: relative;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .main .landing-page .landing-page-inner .landing-body .description h1 {
        position: relative;
        font-size: 1.5rem;
    }
    .main .landing-page .landing-page-inner .landing-body .description p {
        position: relative;
        font-size: 0.9rem;
        font-weight: lighter;
    }
     .main .landing-page .landing-page-inner .landing-body::before {
        width: 15rem;
        height: 15rem;
        border: 0.2rem solid rgba(0, 225, 255, 0.4);
        border-radius: 50%;
        left:-5rem;
        bottom: -5rem;
    }
    .main .why-us-inner .why-description h3 {
    font-size: 1.5rem;
    }
    .main .why-us-inner .why-description p {
        letter-spacing: 0.105rem;
        font-size: 1.05rem;
    }
    .main .why-us-inner .why-us-illustrate {
        grid-template-columns: 1fr;
    }
    .main .teaching .teaching-inner .teaching-img {
        display: none;
    }
    .main .enroll .enroll-inner {
        width: 100%;
        flex-direction: column;
    }
    .main .enroll .enroll-inner p {
        font-size: 1.3rem;
    }
    .main .enroll .enroll-inner a {
        font-size: 1rem;
    }
    .main .footer {
        height: auto;
    }
    .main .footer .footer-inner {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .main .footer .footer-inner .brief {
        border: none;
        border-bottom: 0.2rem solid #EDFCF1;
    }
}

