{% extends 'admin/master.html' %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/admin.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/slate.css')}}" />
<link rel="icon" href="{{ url_for('static', filename='assets/img/logo.png')}}" sizes="16x16" type="image/png">
<script src="{{url_for('static', filename='assets/js/portal.js')}}"></script>
{% endblock head_css %}

{% block body %}
    <div class='container'>
      <h3>Dimacs International Limited Admin page</h3>
      <p>Only for authorized personnel</p>
    </div>
{% endblock body %}