<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summit Data Academy | About</title>
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/about.css') }}">
</head>
<body>
    <div class="about">
        <div class="landing-about">
            <div class="landing-about-inner">
                <div class="header">
                    <div class="navbar">
                        <div class="logo">
                            <img src='../static/assets/images/logo1.png' alt='Summit Data Academy Logo'>
                        </div>
                        <div class="menu">
                            <ul class="menu-items">
                                <li class='item'><a href="{{ url_for('home') }}">Home</a></li>
                                <li class="item">
                                    <div class="dropdown">
                                        <button class="dropbtn">Courses</button>
                                        <div class="dropdown-content">
                                            <a href="{{ url_for('data_analysis') }}">Data Analysis</a>
                                            <a href="#">Python Progamming</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="item"><a href="{{ url_for('events') }}">Events</a></li>
                                <li class="item apply-btn"><a href="{{ url_for('applications') }}">Enroll Today</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="about-describe">
                    <h2>About Us</h2>
                    <p>
                        Summit Data Academy is a 21st century data school commited to improving the tech skills across the African continent.
                        Data has been dubbed the <b>"NEW OIL"</b> and  demand for Data Savvy professionals is projected to increase
                        tremendously over the next 10 years. Therefore we've taken on the responsibility to equip individuals
                        across Africa with the skills
                        necessary to analyze, manipulate and derive insights from massive amounts of data. 
                        This will enable companies to make informed data-driven decisions. 
                    </p>
                    <p>
                        By 2035 Africa will have the largest workforce on the planet, and our
                        goal is to ensure that this workforce has the relevant skills to not only compete in the world job market but also 
                        in entrepreneurship and innovation.
                    </p>
                    <p class='bottom'><strong>Join Summit Data Academy, stay ahead of the curve!</strong></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>