{% extends "base.html" %}
<div class="home">
    {% block landing %}
        <div class="landing-body">
            <div class="description">
                <h2>Transform your Career, </h2>
                <h2>Define your Future.</h2>
                <h1>Join Summit Data Academy.</h1>
                <p>Acquire in-demand skills in Data Analysis and Data Science.</p>
                <a class="apply-btn" href='applications.html'>Apply Now!</a>
            </div>
            <div class="landing-image">
                <img src="../static/assets/images/analytics1.png" alt='summit data academy landing'>
            </div>
        </div>
    {% endblock landing %}
    {% block content %}
        <div class="why-us">
            <div class="why-us-inner">
                <div class="why-description">
                    <h3>Why Choose Us?</h3>
                    <p>
                        With the demand for data related roles projected to sky rocket over the next few years,
                        our courses have been carefully designed to not only meet the current demand in the job market,
                        but we equip you with the skills necessary to thrive in an ever-changing world.
                        We employ active learning strategies to ensure easy understanding and application of
                        the concepts learned to tackle real-world problems.
                        We will take you from a complete beginner to mastery and give you a solid foundation
                        for your career in Data Analytics and Data Science.
                    </p>
                </div>
                <div class="why-us-illustrate">
                    <div class="ilustrate">
                        <img src='../static/assets/images/demand.png' alt='Summit Data Academy'>
                        <h4>Demand Driven Courses.</h4>
                        <p>
                            The demand for Data Specialists estimated to grow about 28% through 2026.
                            Our curriculum development has been driven by this demand. Whether you want to upskill
                            or launch a new career path in Data Analytics or Data Science we have you covered.
                        </p>
                    </div>
                    <div class="ilustrate">
                        <img src='../static/assets/images/collaboration.png' alt='Summit Data Academy'>
                        <h4>Collaborative learning.</h4>
                        <p>
                            Our collaborative learning approach enable learners to work on class projects & exercises in a team setup.
                            This is meant to simulate a job environment and help learners to horn their soft skills such as Teamwork,
                            Communication.
                        </p>
                    </div>
                    <div class="ilustrate">
                        <img src='../static/assets/images/virtual-class.png' alt='Summit Data Academy'>
                        <h4>Virtual Learning.</h4>
                        <p>
                            With the world becoming literally a global village,
                            all our classes are online therefore you can access our courses from anywhere in the world.
                            You also have a round the clock access to our instructors on the virtual space.
                        </p>
                    </div>
                    <div class="ilustrate">
                        <img src='../static/assets/images/practice.png' alt='Summit Data Academy'>
                        <h4>Practical Projects.</h4>
                        <p>
                            Learn by doing. Our learners get to work on practical projects and coding exercises during the learning process.
                            This introduces them to real-world data problem solving and decision making.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="teaching">
            <div class="teaching-inner">
                <div class="how-teaching">
                    <h3>How we Operate.</h3>
                    <div class="mo">
                        <div class="how">
                            <h4>Admissions</h4>
                            <p>
                                After application, our team will contact you for an interview to make sure that
                                all requirements have been met and that learner is ready to commence the classes.
                            </p>
                        </div>
                        <div class="how">
                            <h4>Teaching Methodology</h4>
                            <p>
                                Our curriculum is a combination of theoretical and practical learning.
                                First we start with the theoretical aspects of a topic followed by a series of practical projects.
                                Then learners are given a problem to work on in a team with close guidance from the instructors.
                                Only upon successful completion of the problem can they move to the next topic of study.
                            </p>
                        </div>
                        <div class="how">
                            <h4>Evaluation</h4>
                            <p>
                                Prior to completion of the course, each learner has to complete a solo real-world
                                project. The instructor will keep a close eye on each learner's
                                project to monitor progress and offer support if needed.
                                Once the project is complete and verified by the instructor,
                                the learner is issued with their certificate of completion.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="teaching-img">
                    <img src='../static/assets/images/analytics2.png' alt='Summit Data Academy'>
                </div>
            </div>
        </div>
        <div class="enroll">
            <div class="enroll-inner">
                <p>Join the data revolution!</p>
                <a class="apply-btn" href='applications.html'>Enroll Now!</a>
            </div>
        </div>
    {% endblock content %}
</div>